body {
    background-image: url("../images/main-background.jpg");
    background-size: 1920px 1080px;
}

#header,
.text, #game-message {
	font-family: 'Teko', sans-serif;
}

#header {
    color: white;
    text-align: right;
    font-size: 40px;
}

.text {
	color: white;
    text-align: left;
    font-size: 30px;
}

.char-background {
	border: solid green 2px;
	/*padding: 5px;*/
	background: white;
	text-align: center;
	font-size: 18px;
	font-family: 'Teko', sans-serif;
	width: 180px;
	margin-right: 10px;

}

.image {

	display: block;
	position: relative;
}

#characters, #enemies, #defender {
	display: flex;

}

#attack-button {
	visibility: hidden;
}

.enemy {
	background: red;
	border-color: black;
}

.target-enemy {
	background: black;
	color: white;
}

.row {
	margin-bottom: 10px;
}

#game-message {
	font-size: 20px;
	color: #c0c0c0;
}